@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant reversed (&:where(.reversed .reversed *));
@custom-variant active (&:where(.active .active *));


@theme {
    --font-logo: "Grenze Gotisch", serif;
    --font-logoSubtitle: "Texturing", serif;
    --font-pageTitle: "Recursive", monospace;
    --font-pageTitle--font-variation-settings:
        "MONO" 0,
        "CASL" 1,
        "wght" 600,
        "slnt" -8,
        "CRSV" 1;
    --font-pageSubtitle: "Recursive", sans-serif;
    --font-pageSubtitle--font-variation-settings:
        "MONO" 0,
        "CASL" 1,
        "wght" 300,
        "slnt" 0,
        "CRSV" 1;
    --font-navMenuDefault: "Recursive", sans-serif;
    --font-navMenuDefault--font-variation-settings:
        "MONO" 0,
        "CASL" 1,
        "wght" 600,
        "slnt" -8,
        "CRSV" 1;
    --font-navMenuActive: "Recursive", serif;
    --font-navMenuActive--font-variation-settings:
        "MONO" 0.5,
        "CASL" 1,
        "wght" 900,
        "slnt" 0,
        "CRSV" 0.5;
    --font-heading: "Recursive", "Impact", monospace;
    --font-heading--font-variation-settings:
        "MONO" 0.57,
        "CASL" 1,
        "wght" 700,
        "slnt" 0,
        "CRSV" 0.5;
    --font-bodyText: "Recursive", sans-serif;
    --font-bodyText--font-veriation-settings:
        "MONO" 0,
        "CASL" 0,
        "wght" 400,
        "slnt" 0,
        "CRSV" 0;
    --font-sans: "Recursive", sans-serif;
    --font-sans--font-variation-settings:
        "MONO" 1,
        "CASL" 0,
        "wght" 400,
        "slnt" 0,
        "CRSV" 0;
    --font-serif: "Texturina", "Georgia", serif;

    --color-*: initial;

    --color-gray-50: oklch(0.985 0 0);
    --color-gray-100: oklch(0.97 0 0);
    --color-gray-200: oklch(0.922 0 0);
    --color-gray-300: oklch(0.87 0 0);
    --color-gray-400: oklch(0.708 0 0);
    --color-gray-500: oklch(0.556 0 0);
    --color-gray-600: oklch(0.439 0 0);
    --color-gray-700: oklch(0.371 0 0);
    --color-gray-800: oklch(0.269 0 0);
    --color-gray-900: oklch(0.205 0 0);
    --color-gray-950: oklch(0.145 0 0);

    --color-black: oklch(0.13 0.0453 290.48);
    --color-white: oklch(0.97 0.0319 97.29);
    --color-transparent: transparent;
    --color-current: currentColor;

    --color-royal-purple: oklch(0.46 0.171 304.67);
    --color-royal-purple-50: oklch(0.98 0.0114 308.33);
    --color-royal-purple-100: oklch(0.95 0.0241 306.96);
    --color-royal-purple-200: oklch(0.91 0.0455 305.25);
    --color-royal-purple-300: oklch(0.84 0.0816 305.81);
    --color-royal-purple-400: oklch(0.74 0.1366 305.29);
    --color-royal-purple-500: oklch(0.64 0.1846 304.39);
    --color-royal-purple-600: oklch(0.56 0.2078 303.4);
    --color-royal-purple-700: oklch(0.49 0.1971 303.37);
    --color-royal-purple-800: oklch(0.46 0.171 304.67);
    --color-royal-purple-900: oklch(0.38 0.1339 305.32);
    --color-royal-purple-950: oklch(0.29 0.1202 304.84);

    --color-tradewind: #61aba8;
    --color-tradewind-50: #f3faf9;
    --color-tradewind-100: #d9eeec;
    --color-tradewind-200: #b2ddd9;
    --color-tradewind-300: #84c4bf;
    --color-tradewind-400: #61aba8;
    --color-tradewind-500: #408c8a;
    --color-tradewind-600: #31706f;
    --color-tradewind-700: #2b595a;
    --color-tradewind-800: #264849;
    --color-tradewind-900: #233e3e;
    --color-tradewind-950: #102123;

    --color-cerulean-blue: #2753c0;
    --color-cerulean-blue-50: #f0f6fe;
    --color-cerulean-blue-100: #ddebfc;
    --color-cerulean-blue-200: #c3dcfa;
    --color-cerulean-blue-300: #9ac7f6;
    --color-cerulean-blue-400: #6aa9f0;
    --color-cerulean-blue-500: #4789ea;
    --color-cerulean-blue-600: #326cde;
    --color-cerulean-blue-700: #2753c0;
    --color-cerulean-blue-800: #2848a5;
    --color-cerulean-blue-900: #253f83;
    --color-cerulean-blue-950: #1b2850;

    --color-apple: #499c2f;
    --color-apple-50: #f4fbf2;
    --color-apple-100: #e7f7e1;
    --color-apple-200: #cfeec4;
    --color-apple-300: #a8df96;
    --color-apple-400: #79c860;
    --color-apple-500: #56ad3a;
    --color-apple-600: #499c2f;
    --color-apple-700: #377025;
    --color-apple-800: #2e5922;
    --color-apple-900: #264a1d;
    --color-apple-950: #11280b;

    --color-flush-orange: #fa830e;
    --color-flush-orange-50: #fff9ed;
    --color-flush-orange-100: #fff1d5;
    --color-flush-orange-200: #fedeaa;
    --color-flush-orange-300: #fec673;
    --color-flush-orange-400: #fca33b;
    --color-flush-orange-500: #fa830e;
    --color-flush-orange-600: #eb6b0b;
    --color-flush-orange-700: #c3510b;
    --color-flush-orange-800: #9b4011;
    --color-flush-orange-900: #7d3611;
    --color-flush-orange-950: #431907;

    --color-affair: #654d86;
    --color-affair-50: #f9f8fc;
    --color-affair-100: #f2eff8;
    --color-affair-200: #e8e2f2;
    --color-affair-300: #d5cae8;
    --color-affair-400: #baa8d8;
    --color-affair-500: #9f85c7;
    --color-affair-600: #876ab3;
    --color-affair-700: #71559b;
    --color-affair-800: #654d86;
    --color-affair-900: #4f3c67;
    --color-affair-950: #332348;

    --color-fog: #d2c8ff;
    --color-fog-50: #f5f3ff;
    --color-fog-100: #ede8ff;
    --color-fog-200: #d2c8ff;
    --color-fog-300: #c4b3ff;
    --color-fog-400: #a788fd;
    --color-fog-500: #8b58fa;
    --color-fog-600: #7c36f1;
    --color-fog-700: #6d24dd;
    --color-fog-800: #5b1dba;
    --color-fog-900: #4c1a98;
    --color-fog-950: #2e0e67;

    --color-melrose: #beb4ff;
    --color-melrose-50: #f4f3ff;
    --color-melrose-100: #ebe8ff;
    --color-melrose-200: #d9d5ff;
    --color-melrose-300: #beb4ff;
    --color-melrose-400: #9c88fd;
    --color-melrose-500: #7d58fa;
    --color-melrose-600: #6d35f2;
    --color-melrose-700: #5e23de;
    --color-melrose-800: #4e1dba;
    --color-melrose-900: #421a98;
    --color-melrose-950: #260e67;

    --color-hawkes-blue: #d1dcff;
    --color-hawkes-blue-50: #eef3ff;
    --color-hawkes-blue-100: #dfe8ff;
    --color-hawkes-blue-200: #d1dcff;
    --color-hawkes-blue-300: #a3b7fe;
    --color-hawkes-blue-400: #7f8ffa;
    --color-hawkes-blue-500: #606af4;
    --color-hawkes-blue-600: #4643e8;
    --color-hawkes-blue-700: #3b35cd;
    --color-hawkes-blue-800: #302ea5;
    --color-hawkes-blue-900: #2d2c83;
    --color-hawkes-blue-950: #1b1a4c;

    --color-perano: #a7bcff;
    --color-perano-50: #edf3ff;
    --color-perano-100: #dfe8ff;
    --color-perano-200: #c5d5ff;
    --color-perano-300: #a7bcff;
    --color-perano-400: #7d91fc;
    --color-perano-500: #5e6bf6;
    --color-perano-600: #4143ea;
    --color-perano-700: #3533cf;
    --color-perano-800: #2c2ca7;
    --color-perano-900: #2b2e84;
    --color-perano-950: #1a194d;

    --color-dark-fern: #144614;
    --color-dark-fern-50: #f2fcf1;
    --color-dark-fern-100: #dffbdd;
    --color-dark-fern-200: #c0f4be;
    --color-dark-fern-300: #8fea8b;
    --color-dark-fern-400: #55d751;
    --color-dark-fern-500: #2dbe29;
    --color-dark-fern-600: #1f9d1c;
    --color-dark-fern-700: #1c7b1a;
    --color-dark-fern-800: #1b611a;
    --color-dark-fern-900: #144614;
    --color-dark-fern-950: #072c07;

    --color-shamrock: #66cdaa;
    --color-shamrock-50: #eefbf6;
    --color-shamrock-100: #d7f4e7;
    --color-shamrock-200: #b2e8d2;
    --color-shamrock-300: #66cdaa;
    --color-shamrock-400: #4bbc99;
    --color-shamrock-500: #29a080;
    --color-shamrock-600: #1a8167;
    --color-shamrock-700: #156755;
    --color-shamrock-800: #135244;
    --color-shamrock-900: #104439;
    --color-shamrock-950: #082621;

    --color-violet: #270d3e;
    --color-violet-50: #efebff;
    --color-violet-100: #e1daff;
    --color-violet-200: #cbbcff;
    --color-violet-300: #b194ff;
    --color-violet-400: #a16aff;
    --color-violet-500: #9847ff;
    --color-violet-600: #9927ff;
    --color-violet-700: #8a1ce6;
    --color-violet-800: #6d1ab9;
    --color-violet-900: #581e91;
    --color-violet-950: #270d3e;

    --color-chateau-green: #55ab5e;
    --color-chateau-green-50: #f3faf3;
    --color-chateau-green-100: #e4f4e6;
    --color-chateau-green-200: #cbe7ce;
    --color-chateau-green-300: #a1d4a7;
    --color-chateau-green-400: #70b877;
    --color-chateau-green-500: #55ab5e;
    --color-chateau-green-600: #3b7e42;
    --color-chateau-green-700: #316437;
    --color-chateau-green-800: #2b502f;
    --color-chateau-green-900: #244328;
    --color-chateau-green-950: #102313;

    --color-bravegrumpy-black: #080418;
    --color-bravegrumpy-white: #fcf7df;
    --color-bravegrumpy-brand1: #6e34a2;
    --color-bravegrumpy-brand2: #61aba8;
    --color-bravegrumpy-brand3: #2753c0;
    --color-bravegrumpy-brand4: #499c2f;
    --color-bravegrumpy-brand5: #fa830e;
    --color-bravegrumpy-brand6: #654d86;
    --color-bravegrumpy-accent1a: #d2c8ff;
    --color-bravegrumpy-accent1b: #beb4ff;
    --color-bravegrumpy-accent2a: #d1dcff;
    --color-bravegrumpy-accent2b: #a7bcff;
    --color-bravegrumpy-dark1: #144614;
    --color-bravegrumpy-highlight1: #66cdaa;
    --color-bravegrumpy-logoPurple: #270d3e;
    --color-bravegrumpy-logoGreen: #55ab5e;

    --color-daintree: #04313c;
    --color-daintree-base03: #002b36;
    --color-daintree-base02: #073642;
    --color-daintree-50: #e9fffd;
    --color-daintree-51: #ebfffd;
    --color-daintree-52: #ecfffe;
    --color-daintree-100: #c9fffb;
    --color-daintree-101: #ccfffe;
    --color-daintree-103: #cefeff;
    --color-daintree-200: #99fffa;
    --color-daintree-201: #a0ffff;
    --color-daintree-202: #a4fbfd;
    --color-daintree-300: #54fff9;
    --color-daintree-301: #5ffcff;
    --color-daintree-302: #65f5fb;
    --color-daintree-400: #07fbff;
    --color-daintree-401: #17eff9;
    --color-daintree-402: #20e6f0;
    --color-daintree-500: #00dcef;
    --color-daintree-501: #00d1df;
    --color-daintree-502: #04c9d6;
    --color-daintree-600: #00afc9;
    --color-daintree-601: #00a7bb;
    --color-daintree-602: #06a0b4;
    --color-daintree-700: #008ba1;
    --color-daintree-701: #078597;
    --color-daintree-702: #0c8092;
    --color-daintree-800: #086f82;
    --color-daintree-801: #106a7a;
    --color-daintree-802: #146776;
    --color-daintree-900: #0c5b6d;
    --color-daintree-901: #125767;
    --color-daintree-902: #155464;
    --color-daintree-950: #002b36;
    --color-daintree-951: #04313c;
    --color-daintree-952: #073642;

    --color-nevada: #586e75;
    --color-nevada-50: #f4f7f7;
    --color-nevada-100: #e3e8ea;
    --color-nevada-200: #cad5d7;
    --color-nevada-300: #a5b6bb;
    --color-nevada-400: #799097;
    --color-nevada-500: #586e75;
    --color-nevada-600: #50636a;
    --color-nevada-700: #455359;
    --color-nevada-800: #3e484c;
    --color-nevada-900: #373e42;
    --color-nevada-950: #22272a;

    --color-sirocco: #657b83;
    --color-sirocco-50: #f4f7f7;
    --color-sirocco-100: #e3e8ea;
    --color-sirocco-200: #cbd4d6;
    --color-sirocco-300: #a6b6ba;
    --color-sirocco-400: #7a8f96;
    --color-sirocco-500: #657b83;
    --color-sirocco-600: #516169;
    --color-sirocco-700: #465258;
    --color-sirocco-800: #3e464c;
    --color-sirocco-900: #373e42;
    --color-sirocco-950: #22272a;

    --color-granny-smith: #839496;
    --color-granny-smith-50: #f5f6f6;
    --color-granny-smith-100: #e4e8e9;
    --color-granny-smith-200: #ccd4d5;
    --color-granny-smith-300: #a9b5b7;
    --color-granny-smith-400: #839496;
    --color-granny-smith-500: #637577;
    --color-granny-smith-600: #556265;
    --color-granny-smith-700: #495355;
    --color-granny-smith-800: #40474a;
    --color-granny-smith-900: #393e40;
    --color-granny-smith-950: #232729;

    --color-edward: #93a1a1;
    --color-edward-50: #f7f8f7;
    --color-edward-100: #f1f2f1;
    --color-edward-200: #e3e7e7;
    --color-edward-300: #cdd4d3;
    --color-edward-400: #adb9b9;
    --color-edward-500: #93a1a1;
    --color-edward-600: #798889;
    --color-edward-700: #647172;
    --color-edward-800: #545f60;
    --color-edward-900: #495252;
    --color-edward-950: #282f2f;

    --color-parchment: #eee8d5;
    --color-parchment-50: #f9f8f1;
    --color-parchment-100: #eee8d5;
    --color-parchment-200: #ddd1aa;
    --color-parchment-300: #cbb67e;
    --color-parchment-400: #bfa060;
    --color-parchment-500: #b3894d;
    --color-parchment-600: #9e6f41;
    --color-parchment-700: #845639;
    --color-parchment-800: #6d4733;
    --color-parchment-900: #5b3b2c;
    --color-parchment-950: #321f16;


    --color-early-dawn: #fdf6e3;
    --color-early-dawn-50: #fdf6e3;
    --color-early-dawn-100: #faeecb;
    --color-early-dawn-200: #f5da92;
    --color-early-dawn-300: #f0c359;
    --color-early-dawn-400: #edac32;
    --color-early-dawn-500: #e58c1b;
    --color-early-dawn-600: #cb6914;
    --color-early-dawn-700: #a94b14;
    --color-early-dawn-800: #893a17;
    --color-early-dawn-900: #713116;
    --color-early-dawn-950: #411707;

    --color-marigold: #b58900;
    --color-marigold-50: #fdffe7;
    --color-marigold-100: #f9ffc0;
    --color-marigold-200: #f6ff85;
    --color-marigold-300: #f8ff3f;
    --color-marigold-400: #fffb0b;
    --color-marigold-500: #f4e100;
    --color-marigold-600: #d3b000;
    --color-marigold-700: #b58900;
    --color-marigold-800: #8a6209;
    --color-marigold-900: #75500e;
    --color-marigold-950: #452b03;

    --color-grenadier: #cb4b16;
    --color-grenadier-50: #fef7ee;
    --color-grenadier-100: #fdedd7;
    --color-grenadier-200: #fad7ae;
    --color-grenadier-300: #f7ba7a;
    --color-grenadier-400: #f29345;
    --color-grenadier-500: #ef7520;
    --color-grenadier-600: #e05b16;
    --color-grenadier-700: #cb4b16;
    --color-grenadier-800: #943718;
    --color-grenadier-900: #772f17;
    --color-grenadier-950: #40160a;

    --color-valencia: #dc322f;
    --color-valencia-50: #fef2f2;
    --color-valencia-100: #fee2e2;
    --color-valencia-200: #fecbca;
    --color-valencia-300: #fba7a6;
    --color-valencia-400: #f77472;
    --color-valencia-500: #ee4845;
    --color-valencia-600: #dc322f;
    --color-valencia-700: #b8201d;
    --color-valencia-800: #981e1c;
    --color-valencia-900: #7e201e;
    --color-valencia-950: #450b0a;

    --color-cerise: #d33682;
    --color-cerise-50: #fcf3f8;
    --color-cerise-100: #fbe8f4;
    --color-cerise-200: #f9d1ea;
    --color-cerise-300: #f5acd7;
    --color-cerise-400: #ed79bb;
    --color-cerise-500: #e4509f;
    --color-cerise-600: #d33682;
    --color-cerise-700: #b52164;
    --color-cerise-800: #961e53;
    --color-cerise-900: #7d1e48;
    --color-cerise-950: #4c0b28;

    --color-moody-blue: #6c71c4;
    --color-moody-blue-50: #f2f5fb;
    --color-moody-blue-100: #e7edf8;
    --color-moody-blue-200: #d3ddf2;
    --color-moody-blue-300: #b8c6e9;
    --color-moody-blue-400: #9ba9de;
    --color-moody-blue-500: #828cd2;
    --color-moody-blue-600: #6c71c4;
    --color-moody-blue-700: #585baa;
    --color-moody-blue-800: #494c8a;
    --color-moody-blue-900: #40436f;
    --color-moody-blue-950: #252641;

    --color-steel-blue: #268bd2;
    --color-steel-blue-50: #f2f8fd;
    --color-steel-blue-100: #e3effb;
    --color-steel-blue-200: #c1dff6;
    --color-steel-blue-300: #8bc4ee;
    --color-steel-blue-400: #4da6e3;
    --color-steel-blue-500: #268bd2;
    --color-steel-blue-600: #176db2;
    --color-steel-blue-700: #145790;
    --color-steel-blue-800: #154b77;
    --color-steel-blue-900: #173f63;
    --color-steel-blue-950: #0f2942;

    --color-persian-green: #2aa198;
    --color-persian-green-50: #f2fbf9;
    --color-persian-green-100: #d2f5ee;
    --color-persian-green-200: #a6e9de;
    --color-persian-green-300: #71d7ca;
    --color-persian-green-400: #44bdb2;
    --color-persian-green-500: #2aa198;
    --color-persian-green-600: #1f827c;
    --color-persian-green-700: #1d6865;
    --color-persian-green-800: #1b5452;
    --color-persian-green-900: #1b4644;
    --color-persian-green-950: #0a2929;

    --color-limeade: #859900;
    --color-limeade-50: #fffee4;
    --color-limeade-100: #fffec4;
    --color-limeade-200: #feff90;
    --color-limeade-300: #f8ff50;
    --color-limeade-400: #edfe1d;
    --color-limeade-500: #cee500;
    --color-limeade-600: #a0b800;
    --color-limeade-700: #859900;
    --color-limeade-800: #5f6d07;
    --color-limeade-900: #4f5c0b;
    --color-limeade-950: #2a3400;

    --color-solarized-base-3: #fdf6e3;
    --color-solarized-base-2: #eee8d5;
    --color-solarized-base-1: #93a1a1;
    --color-solarized-base-0: #839496;
    --color-solarized-base-00: #657b83;
    --color-solarized-base-01: #586e75;
    --color-solarized-base-02: #073642;
    --color-solarized-base-03: #002b36;
    --color-solarized-yellow: #b58900;
    --color-solarized-orange: #cb4b16;
    --color-solarized-red: #dc322f;
    --color-solarized-magenta: #d33682;
    --color-solarized-violet: #6c71c4;
    --color-solarized-blue: #268bd2;
    --color-solarized-cyan: #2aa198;
    --color-solarized-green: #859900;

    --color-primary: #6e34a2;
    --color-primary-50: #faf6fe;
    --color-primary-100: #f3ebfc;
    --color-primary-200: #e8dafa;
    --color-primary-300: #d7bdf5;
    --color-primary-400: #be92ee;
    --color-primary-500: #a568e4;
    --color-primary-600: #8f48d5;
    --color-primary-700: #7a36ba;
    --color-primary-800: #6e34a2;
    --color-primary-900: #54297a;
    --color-primary-950: #391259;

    --color-secondary: #55ab5e;
    --color-secondary-50: #f3faf3;
    --color-secondary-100: #e4f4e6;
    --color-secondary-200: #cbe7ce;
    --color-secondary-300: #a1d4a7;
    --color-secondary-400: #70b877;
    --color-secondary-500: #55ab5e;
    --color-secondary-600: #3b7e42;
    --color-secondary-700: #316437;
    --color-secondary-800: #2b502f;
    --color-secondary-900: #244328;
    --color-secondary-950: #102313;


    --color-alternative: #654d86;
    --color-alternative-50: #f9f8fc;
    --color-alternative-100: #f2eff8;
    --color-alternative-200: #e8e2f2;
    --color-alternative-300: #d5cae8;
    --color-alternative-400: #baa8d8;
    --color-alternative-500: #9f85c7;
    --color-alternative-600: #876ab3;
    --color-alternative-700: #71559b;
    --color-alternative-800: #654d86;
    --color-alternative-900: #4f3c67;
    --color-alternative-950: #332348;

    --color-blue: #2753c0;
    --color-blue-50: #f0f6fe;
    --color-blue-100: #ddebfc;
    --color-blue-200: #c3dcfa;
    --color-blue-300: #9ac7f6;
    --color-blue-400: #6aa9f0;
    --color-blue-500: #4789ea;
    --color-blue-600: #326cde;
    --color-blue-700: #2753c0;
    --color-blue-800: #2848a5;
    --color-blue-900: #253f83;
    --color-blue-950: #1b2850;

    --color-green: #499c2f;
    --color-green-50: #f4fbf2;
    --color-green-100: #e7f7e1;
    --color-green-200: #cfeec4;
    --color-green-300: #a8df96;
    --color-green-400: #79c860;
    --color-green-500: #56ad3a;
    --color-green-600: #499c2f;
    --color-green-700: #377025;
    --color-green-800: #2e5922;
    --color-green-900: #264a1d;
    --color-green-950: #11280b;

    --color-cyan: #2aa198;
    --color-cyan-50: #f2fbf9;
    --color-cyan-100: #d2f5e;
    --color-cyan-200: #a6e9de;
    --color-cyan-300: #71d7ca;
    --color-cyan-400: #44bdb2;
    --color-cyan-500: #2aa198;
    --color-cyan-600: #1f827c;
    --color-cyan-700: #1d6865;
    --color-cyan-800: #1b5452;
    --color-cyan-900: #1b4644;
    --color-cyan-950: #0a2929;

    --color-teal: #04313c;
    --color-teal-base03: #002b36;
    --color-teal-base02: #073642;
    --color-teal-50: #e9fffd;
    --color-teal-51: #ebfffd;
    --color-teal-52: #ecfffe;
    --color-teal-100: #c9fffb;
    --color-teal-101: #ccfffe;
    --color-teal-103: #cefeff;
    --color-teal-200: #99fffa;
    --color-teal-201: #a0ffff;
    --color-teal-202: #a4fbfd;
    --color-teal-300: #54fff9;
    --color-teal-301: #5ffcff;
    --color-teal-302: #65f5fb;
    --color-teal-400: #07fbff;
    --color-teal-401: #17eff9;
    --color-teal-402: #20e6f0;
    --color-teal-500: #00dcef;
    --color-teal-501: #00d1df;
    --color-teal-502: #04c9d6;
    --color-teal-600: #00afc9;
    --color-teal-601: #00a7bb;
    --color-teal-602: #06a0b4;
    --color-teal-700: #008ba1;
    --color-teal-701: #078597;
    --color-teal-702: #0c8092;
    --color-teal-800: #086f82;
    --color-teal-801: #106a7a;
    --color-teal-802: #146776;
    --color-teal-900: #0c5b6d;
    --color-teal-901: #125767;
    --color-teal-902: #155464;
    --color-teal-950: #002b36;
    --color-teal-951: #04313c;
    --color-teal-952: #073642;

    --color-lime: #859900;
    --color-lime-50: #fffee4;
    --color-lime-100: #fffec4;
    --color-lime-200: #feff90;
    --color-lime-300: #f8ff50;
    --color-lime-400: #edfe1d;
    --color-lime-500: #cee500;
    --color-lime-600: #a0b800;
    --color-lime-700: #859900;
    --color-lime-800: #5f6d07;
    --color-lime-900: #4f5c0b;
    --color-lime-950: #2a3400;

    --color-red: #dc322f;
    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-200: #fecbca;
    --color-red-300: #fba7a6;
    --color-red-400: #f77472;
    --color-red-500: #ee4845;
    --color-red-600: #dc322f;
    --color-red-700: #b8201d;
    --color-red-800: #981e1c;
    --color-red-900: #7e201e;
    --color-red-950: #450b0a;

    --color-pink: #d33682;
    --color-pink-50: #fcf3f8;
    --color-pink-100: #fbe8f4;
    --color-pink-200: #f9d1ea;
    --color-pink-300: #f5acd7;
    --color-pink-400: #ed79bb;
    --color-pink-500: #e4509f;
    --color-pink-600: #d33682;
    --color-pink-700: #b52164;
    --color-pink-800: #961e53;
    --color-pink-900: #7d1e48;
    --color-pink-950: #4c0b28;

    --color-orange: #cb4b16;
    --color-orange-50: #fef7ee;
    --color-orange-100: #fdedd7;
    --color-orange-200: #fad7ae;
    --color-orange-300: #f7ba7a;
    --color-orange-400: #f29345;
    --color-orange-500: #ef7520;
    --color-orange-600: #e05b16;
    --color-orange-700: #cb4b16;
    --color-orange-800: #943718;
    --color-orange-900: #772f17;
    --color-orange-950: #40160a;

    --color-yellow: #b58900;
    --color-yellow-50: #fdffe7;
    --color-yellow-100: #f9ffc0;
    --color-yellow-200: #f6ff85;
    --color-yellow-300: #f8ff3f;
    --color-yellow-400: #fffb0b;
    --color-yellow-500: #f4e100;
    --color-yellow-600: #d3b000;
    --color-yellow-700: #b58900;
    --color-yellow-800: #8a6209;
    --color-yellow-900: #75500e;
    --color-yellow-950: #452b03;

    --color-purple: #270d3e;
    --color-purple-50: #efebff;
    --color-purple-100: #e1daff;
    --color-purple-200: #cbbcff;
    --color-purple-300: #b194ff;
    --color-purple-400: #a16aff;
    --color-purple-500: #9847ff;
    --color-purple-600: #9927ff;
    --color-purple-700: #8a1ce6;
    --color-purple-800: #6d1ab9;
    --color-purple-900: #581e91;
    --color-purple-950: #270d3e;

    --color-backgroundImage-map: url('https://cdn.bravegrumpy.com/static/assets/images/map01_001_d.png');
}